<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<body >

    <p><a href="/WebAngular/USD?quote=USD">View EUR/USD</a></p>
    <p><a href="/WebAngular/USD?quote=GBP">View EUR/GBP</a></p>
    <p><a href="/WebAngular/USD?quote=AUD">View EUR/AUD</a></p>
    <p><a href="/WebAngular/GetQuote?quote=AUD">Quote EUR/AUD</a></p>


    <div ng-app = "myApp" ng-controller="GetQuoteAngularCtrl">
        <h1>{{getquoteUSD}}</h1>
        <button ng-click="loadData()">Refresh</button>
    </div>


    <script>
        var myApp = angular.module('myApp', []);
        app.controller('GetQuoteAngularCtrl', appController);
        var appController = function GetQuoteAngularCtrl($scope, $http) {
            $scope.loadData =
                function () {
                    $http.get("WebAngular/GetQuote?quote=USD")
                        .success(function (response) {
                            $scope.getquoteUSD = response.data;
                    });
            };
            $scope.loadData();
            };
    </script>
        
</body>
